<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Home</title>
</head>
<body>
  <h1>Welcome to the Dashboard Home</h1>
  
  <ul>
    <li><%= link_to "Dashboard 1", dashboards_dashboard_1_dashboard_path %></li>
    <li><%= link_to "Dashboard 2", dashboards_dashboard_2_dashboard_path %></li>
    <li><%= link_to "Dashboard 3", dashboards_dashboard_3_dashboard_path %></li>
    <li><%= link_to "Dashboard 4", dashboards_dashboard_4_dashboard_path %></li>
    <li><%= link_to "Dashboard 5", dashboards_dashboard_5_dashboard_path %></li>
  </ul>
</body>
</html>
